@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.feed {
  &__item {
    @include margin-bottom(1.25);

    &:last-child {
      @include margin-bottom(.5);
    }

    &-title {
      font-size: $typographic-base-font-size * 1.6875;
      @include line-height(1.5);
      @include margin-top(0);
      @include margin-bottom(.5);

      &-link {
        color: $color-base;

        &:hover,
        &:focus {
          color: $color-base;
          border-bottom: 1px solid $color-base;
        }
      }
    }

    &-description {
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(.75);
    }

    &-meta {
      &-time {
        font-size: $typographic-small-font-size;
        color: $color-base;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: $typographic-small-font-size;
          color: $color-secondary;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-primary;
          }
        }
      }

      &-template {
        &-link {
          font-size: $typographic-small-font-size;
          color: $color-gray;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-base;
          }
        }
      }
    }

    &-readmore {
      font-size: $typographic-base-font-size;
      color: $color-primary;

      &:hover,
      &:focus {
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
      }
    }
    &-readmore-project {

      img {
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      .link {
        transition: .5s ease;
        opacity: 0;
        index: 2;
        width: 50%;
        height: 20%;
        margin: auto;
        text-align: center;
        bottom: 225px;
        position: relative;
      }


      &:hover img {
        opacity: 0.7;
      }
      &:hover .link {
        opacity: 1;
      }
      .action {
        font-size: $typographic-extra-large-font-size;
        color: $color-white;
        font-weight: bold;
        -webkit-text-fill-color: $color-white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $color-gray-border;
      }

    }

  }

}
