
blockquote {
  color: $color-secondary;
}

.grid-images { 
  display: flex;
  min-height: 30vw;
  flex-wrap: wrap;
  margin-bottom: 5vw;
  align-items: center;
  justify-content: space-around;

  & > * {
    margin: 10px 10px 10px 10px !important;
    width: 46%;
  }
}

.grid-images img {
  width: 100%;
}