
.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-base {
  color: $color-base;
}

.color-success {
  color: #198754;
}
.color-danger {
  color: #dc3545;
}
.color-warning {
  color: #ffc107;
}
.color-info {
  color: #0dcaf0;
}

blockquote {
  color: $color-secondary;
}

.grid-images { 
  display: flex;
  min-height: 30vw;
  flex-wrap: wrap;
  margin-bottom: 5vw;
  align-items: center;
  justify-content: space-around;

  & > * {
    margin: 10px 10px 10px 10px !important;
    width: 46%;
  }
}

.grid-images img {
  width: 100%;
}