@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.meta {
  .date {
    font-style: italic;
  }

  .footer {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
    border-top: 1px solid var(--color-page-border);

    .item {
      font-style: italic;
    }
  }
}
