@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sharing {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--color-button-border);
  border-radius: 1.25rem;
  margin-top: 30px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  min-width: 350px;

  .buttonLink,
  .buttonIcon {
    display: inline-block
  }

  .buttonLink {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
  }

  .button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
  }

  .buttonIcon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
  }

  .buttonSmall svg {
    margin: 0;
    vertical-align: middle
  }

  /* Non solid icons get a stroke */
  .buttonIcon {
    stroke: #fff;
    fill: none
  }

  /* Solid icons get a fill */
  .buttonIconSolid,
  .buttonIconSolidcircle {
    fill: #fff;
    stroke: none
  }

  .buttonTwitter {
    background-color: #55acee;
    border-color: #55acee;
  }

  .buttonTwitter:hover,
  .buttonTwitter:active {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
  }

  .buttonPinterest {
    background-color: #bd081c
  }

  .buttonPinterest:hover {
    background-color: var(--color-secondary);
  }

  .buttonFacebook {
    background-color: #3b5998;
    border-color: #3b5998;
  }

  .buttonFacebook:hover,
  .buttonFacebook:active {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
  }

  .buttonTumblr {
    background-color: #35465C
  }

  .buttonTumblr:hover {
    background-color: var(--color-secondary);
  }

  .buttonReddit {
    background-color: #ff4301;
    border-color: #ff4301;
  }

  .buttonReddit:hover,
  .buttonReddit:active {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
  }

  .buttonGoogle {
    background-color: #dd4b39;
  }

  .buttonGoogle:hover {
    background-color: var(--color-secondary);
  }

  .buttonLinkedin {
    background-color: #0077b5;
    border-color: #0077b5;
  }

  .buttonLinkedin:hover,
  .buttonLinkedin:active {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
  }

  .buttonEmail {
    background-color: #777777;
    border-color: #777777;
  }

  .buttonEmail:hover,
  .buttonEmail:active {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
  }

  .buttonXing {
    background-color: #1a7576;
  }

  .buttonXing:hover {
    background-color: var(--color-secondary);
  }

  .buttonWhatsapp {
    background-color: #25D366;
    border-color: #25D366;
  }
  
  .buttonWhatsapp:hover,
  .buttonWhatsapp:active {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
  }

  .buttonHackernews {
  background-color: #FF6600;
  }
  .buttonHackernews:hover, .buttonHackernews:focus {
    background-color: var(--color-secondary);
  }

  .buttonVk {
    background-color: #507299;
  }

  .buttonVk:hover {
    background-color: var(--color-secondary);
  }

}

@include breakpoint-md {
  .sharing {
    position: fixed;
    left: 30px;
    flex-direction: column;
    width: 8.650rem;
    min-width: unset;
  }
}